@use "base/variables" as v;
@use "base/mixins" as m;
.formulario {
  width: 100%;
  padding: 2rem;
}

.campo {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;

  label {
    flex: 0 0 10rem;
  }
  input {
    flex: 1;
    border: none;
    padding: calc(v.$separacion / 4);
    border-radius: 2rem;

    &:disabled {
      background-color: lighten(v.$negro, 30%);
      color: v.$blanco;
      cursor: not-allowed;
    }
  }
}
